@{
    ViewBag.Title = "About Agrikore";
}
<h2>@ViewBag.Title.</h2>

<p style="color:#000000;font-weight:bold;">Agrikore represents a comprehensive set of blockchain enable solutions for rural agricultural communities, particularly in developing economies, as well as solution for the unbanked and underbanked in those communities.</p>
<div>
    <ul>
        <li><b><font size="+1" color="#000088">Blockchain accounts and financial transactions administered via the Tingg App</font></b><br />Utilizing our own blockchain, Agrikore will facilitate fast and transparent transactions between members of the ecosystem including farmers, commodity buyers, village aggregators, and our local mobile banking agents. Our Tingg application that provides mobile banking services is being extended to support transactions recorded on the blockchain and denominated in the blockchain currency - the MULA.</li>
        <br />
        <li><b><font size="+1" color="#000088">Agrikore smart contract solutions for agricultural production, produce storage, and delivery</font></b><br />Activities in our current ecosystem are driven by many implied trust contracts, including irrevocable agricultural produce orders at guaranteed order prices, agricultural farm production loans in exchange for first access to produce on harvest, produce certification on delivery, produce e-warehouse receipts or IOUs redeemable under varying conditions and with timing imperatives. The necessity for trust imposed by this system currently limits the performance of these contracts. Blockchain code-enforced smart contracts introduces a high level of trust and transparency that helps to enhance production in these communities.</li>
        <br />
        <li><b><font size="+1" color="#000088">Agricultural subsidy registration and dissemination for government and non-governmental organizations</font></b><br/>Cellulant currently assists several governmental agencies in distributing farm subsidies to millions of farmers in over five different countries, and increasing. This is due to a highly scaled organizational expertise that has been perfected over years, infrastructure that we have developed to facilitate such distribution, and an accumulated and growing list and contact information of millions of farmers in these communities. The introduction of blockchain to our existing subsidy distribution process provides an automated and transparent medium to track and monitor the distribution, enhances its effectiveness, and allows owners of the subsidy program an independent and direct view of the progress and success of the initiatives. </li>
        <br />
        <li><b><font size="+1" color="#000088">Agricultural loan financing and monitoring through the blockchain</font></b><br />At the heart of all agricultural communities are agro-loans that allow farmers to access resources during planting season, sometimes with a combination of farm assets and eventual produce as collateral; and repayment on harvesting. This itself is a potential smart contract whose performance would increase if it was made as trustless and as Ricardian as possible. The Agrikore blockchain potentially facilitates the administration of this contract. For this purpose, our MULA is designed to include several derived and programmed versions that have conditional properties such as MULAs that can only be spent on farm equipment or fertilizers redeemable only by specific select agro-dealers, for instance. Utilizing our deep knowledge of the ecosystem, several such inter-woven smart contracts are developed on the Agrikore blockchain and enable agricultural loan administration with a drive towards more code enforced characteristics for the loan dissemination and repayment process.</li>
    </ul>
</div>
<p>The set of blockchain solution consists of the following relationship between the blockchain and members of the ecosystem:</p>

<div align="center"><center><img width="800" src="@Url.Content("~/Content/Agrikore_System_Schematic.png")"><br /></center></div>

<p>For more information, please consult our White Paper, as well as several other papers and links detailing how we have built on existing technology such as Ethereum, and added technology and features to develop a blockchain that performs for our use cases.</p>