@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blockchain Explorer</h1>
    <p class="lead">
        This blockchain explorer allows you to explore a blockchain to understand better how they work, including how
        blocks of transactions are chained, and how transactions within blocks are chained. Pls consult the @Html.ActionLink("AboutBitcoinBlockExplorer", "AboutBitcoinBlockExplorer", "Home") page, if needed.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/BitcoinBlockchain/">Bitcoin Block Explorer</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="">Ethereum Block Explorer</a> Coming Soon &raquo;</p>
    </div>
</div>
