@{
    ViewBag.Title = "The MULA Blockchain Network";
}
<h2>@ViewBag.Title.</h2>

<p>
    The currency unit of the Agrikore blockchain is the MULA. MULA will be purchaseable from local currency with the Tingg App as the blockchain solution gets rolled out into each community.
    The MULA is a reserved back currency at the outset which means any MULAs issued is backed by about the same amount of local currency exchanged for it in value.
    At the onset, Cellulant will inject liquidity directly into the reserve in exchange for any MULAs issued. Cellulant will also allow members of the public who wish to hold MULAs in order to participate in the future growth of this ecosystem or in support of its benefit to agricultural communities served by the ecosysytem, to purchase MULAs in exchange for ETH at the onset. Much of the MULA purchased in this initial MULA offering is retained in the reserves such that like any currency, purhasers may exchange it back for nearly their same purchase value, or greater value depending on the exchange rate appreciation of the MULA.
</p>
<p>For now MULAs may be purchased from your local currency balance with Cellulant on your Tingg App. In future, we may also open up purchases from other currencies as well as cryptocurrencies such as bitcoins, Ethereum, and Dash.</p>
<div>
    <h1>The MULA Network is LIVE!</h1>
    <ul>
        <!--
        <li>@Html.ActionLink("MULA Blockchain Information", "BlockchainInfo", "Home")</li>
        <li>@Html.ActionLink("MULA Token Exchange Administration", "IMEAdmin", "Home")</li>
        <li>@Html.ActionLink("MULA Token Exchange", "TokenExchange", "Home")</li>
        <li>________________</li>
        <li><a href="http://dev.agrikore.net/dapp/blockchain.html">MULA initial release in exchange for ETHER</a></li>
        <li><a href="http://dev.agrikore.net/dapp/admin.html">Management of MULA initial release</a></li>
        <li><a href="http://dev.agrikore.net/dapp/token.html">Public facing transactions of MULA initial exchange</a></li>
        -->
        <li><a href="http://dev.agrikore.net/network/index.html" target=_new>View the Live MULA Network!!!</a></li>
        <li><a href="http://dev.agrikore.net/dapp/transaction.html" target=_new>Initiate a transaction on the Network </a></li>
    </ul>
</div>
