@{
    ViewBag.Title = "The Agrikore Team";
}
<h2>@ViewBag.Title.</h2>
<br />
<p>Bios and pictures and description of the roles of the Agrikore team and advisors is coming soon...</p>
<p><br/></p>
<p><strong>Pictures from the London Agrikore Blockchain Team Meetup (April 2017)</strong><br /><i>The Montcalm, London, UK</i></p>
<p><img width="400" src="@Url.Content("~/Content/cellulant_uk_meet_apr_2017.jpg")"></p><br /><br />

<p><strong>Pictures from the New York Agrikore Blockchain Team Meetup (September 2017)</strong><br /><i>Radisson Martinique on Broadway, New York, US</i></p>
<p><img width="400" src="@Url.Content("~/Content/cellulant_us_meet_sept_2017b.jpg")"></p>
